---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Other Publications";
---
<BaseLayout title={title}>
  <h1>Other Publications</h1>
  <ul>
    <li><a href="https://example.com/pub1" target="_blank">Publication 1</a></li>
    <li><a href="https://example.com/pub2" target="_blank">Publication 2</a></li>
    <li><a href="https://example.com/pub3" target="_blank">Publication 3</a></li>
  </ul>
</BaseLayout>
